---
import Layout from "../../../layouts/Layout.astro";
export const prerender = false;
---
<Layout title="dashboard">
    <div>
        <h1>Welcome {Astro.locals.email}</h1>
        <p class="inter-regular">We are happy to see you here</p>
    </div>
</Layout>
<style>
    div {
        display: flex;
        flex-direction: column;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    label{
        margin: 4px;
    }
</style>