---
    import { Image } from 'astro:assets';

    import ImageGallery from '../../components/ImageGallery.astro';

    /*
    Can't pass anything but string literal to Astro.glob.... so this works..
    https://stackoverflow.com/questions/72077023/import-meta-glob-can-only-accept-string-literals
    https://docs.astro.build/en/guides/troubleshooting/#astroglob---no-matches-found
    */    
    const folders = ['_old','2022','2023','2024'];
    const allImages = await Astro.glob("../../images/*/*.jpg").then(files => { return files.map(file => file.default)});
    //Filtering out any of my _alt images, which are references used for my drawings/paintings 
    const allImagesNoAlt = allImages.filter(image => !image.src.includes("alt"));

    //Go through all the image paths and split them into seperate collections if they contain folder name in path.. 
    const imageCollections = [];
    for(let i = 0; i<folders.length; i++){
        imageCollections[i] = allImagesNoAlt.filter(image => image.src.includes(folders[i]));
    }
---
<div>
    {imageCollections.map((collection)=>{
        return(
            <ImageGallery images={collection}/>
        )
    })}
</div>