---
    import Layout from '../../layouts/Layout.astro';
    import ImageGallery from '../../components/ImageGallery.astro';

    const title = "art";
    /*
    Can't pass anything but string literal to Astro.glob.... so this works..
    https://stackoverflow.com/questions/72077023/import-meta-glob-can-only-accept-string-literals
    https://docs.astro.build/en/guides/troubleshooting/#astroglob---no-matches-found
    */    
    const folders = ['2024','2023','2022','_old'];
    const titles = ['2024','2023','2022','Older'];
    const allImages = await Astro.glob("../../images/art/*/*").then(files => { return files.map(file => file.default)});
    //Filtering out any of my _alt images, which are references used for my drawings/paintings 
    const allImagesNoAlt = allImages.filter(image => !image.src.includes("alt"));

    //Go through all the image paths and split them into seperate collections if they contain folder name in path.. 
    const imageCollections:any = [];
    for(let i = 0; i<folders.length; i++){
        imageCollections[i] = allImagesNoAlt.filter(image => image.src.includes(folders[i]));
    }
---
<Layout title={title} desc="Calvin Williams' art can be found here!">
    <div class="gallery-container">
        <h1>Just a dump of my art from my camera roll - the good, bad, and the ugly. </h1>
        <p class="inter-regular">My <a class="link-highlight" href="https://www.instagram.com/calvin_williams_art/">Instagram</a> is a more curated, and more interactive!</p>
        {imageCollections.map((collection, index)=>{
            return(
                    <ImageGallery title={titles[index]} images={collection.reverse()}/>
                
            )
        })}
    </div>
</Layout>
<style>
    .gallery-container{
        display: flex;
        flex-direction: column;
    }
</style>