---
export const prerender = false;

---
<div class="footer-container">
    <ul>
        {!Astro.locals.email ? <a href="/auth/signin">Sign In</a> : 
          <form class="inter-regular" action="/api/auth/signout">
            <button type="submit">Sign out</button>
          </form>
        }
    </ul>
</div>

<style
> 
    .footer-container{
        margin-left: auto;
        display: flex;
        padding: 1% 1% 0 1%;
        flex-shrink: 0;
    }
    ul{
        display: flex;
        flex-direction: column;
        padding: 0 1.5em;
    }
    ul a{
        padding: 1em;
    }
</style>