---
    import { Image } from 'astro:assets';
    interface Props{
        images: any[],
        title?: string,
        flexBasis?: string
    }
    const {images, title = "", flexBasis = "400px"} = Astro.props;
---
<div>
    <h1>{title}</h1>
    <ul class="imagegallery">
    {images.map((image : any) =>{
        return(
        <li>
            <Image class="image" src={image} alt="test"/>
        </li>
        )
    })}
    </ul>
</div>
<style define:vars={{basis: `${flexBasis}`}}>
    ul {
        list-style: none;
    }
    h1{
    }
    .imagegallery{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .imagegallery li{
        display: flex;
        flex-basis: var(--basis);
    }
    .imagegallery li img{
        object-fit: cover;
        max-width: 100%;
        height: auto;
    }
</style>

