---

---
<div class="nav-container">
    <a class="nametag link-highlight" href="/">Calvin</br>Williams</a>
    <ul>
        <a href="/tech">tech</a>
        <a href="/art">art</a>
        <a href="/about">about</a>
        <a href="/contact">contact</a>
    </ul>
</div>

<style
>   .nametag{
        font-size: xx-large;
        text-transform: uppercase;
        text-decoration: none;
    }
    .nav-container{
        display: flex;
        flex-direction: column;
        padding: 1% 1% 0 1%;
        flex-shrink: 0;
    }
    ul{
        display: flex;
        flex-direction: column;
        padding: 0 1.5em;
    }
    ul a{
        padding: 1em;
    }
</style>