---
import Layout from "../../../layouts/Layout.astro";
import { getUser, addBonobo } from "../../../lib/supabase";
export const prerender = false;

const { cookies, redirect, url } = Astro;
const user = await getUser(cookies);

if (!user) {
  return redirect("/auth/signin");
}

if(!(user?.email == "calvin@calvinwilliams.ca")){
  return redirect("/auth/dashboard");
}

if(url.searchParams.get('userId')){
    const result = await addBonobo(url.searchParams.get('userId'));
}
---
<Layout title="admin">
    <div>
        userId
    </div>
</Layout>
<style>
    div {
        display: flex;
        flex-direction: column;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    label{
        margin: 4px;
    }
</style>