---
import Navigation from '../components/Navigation.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Workbench&display=swap" rel="stylesheet">


		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="flexbox-container">
			<Navigation/>
			<slot />
		</div>
	</body>
</html>
<style is:global>
	body{
		background-color: #424B54;
	}
	a{
        text-decoration: none;
		color:#F4E8C1;
    }
	.flexbox-container{
		display: flex;
	}

	body {
	color: #F4E8C1;
	font-family: "Workbench", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
		"BLED" 0,
		"SCAN" 0;
	}

    .link-highlight{
        color:tomato;
    }
</style>
