---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';


interface Props {
	title: string;
	desc?: string;
}

const { title, desc = "Calvin Williams" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Workbench&display=swap" rel="stylesheet">

		<meta charset="UTF-8" />
		<meta name="description" content={desc} />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="workbench-regular">
		<div class="flexbox-container">
			<Navigation/>
			<slot />
			<Footer/>
		</div>
	</body>
</html>
<style is:global>
	body{
		background-color: #424B54;
	}
	a{
        text-decoration: none;
		color:#F4E8C1;
    }
	.flexbox-container{
		display: flex;
	}

	body {
		color: #F4E8C1;
	}


    .link-highlight{
        color:tomato;
		text-decoration: underline;
    }

	.workbench-regular{
		font-family: "Workbench", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		font-variation-settings:
			"BLED" 0,
			"SCAN" 0;
	}
	.inter-regular {
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		font-variation-settings:
			"slnt" 0;
	}
    button{
        font-size: large;
        font-weight: bold;
        color: tomato;
        background-color: #F4E8C1;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 4px;
    }
    button:hover{
        color:#F4E8C1;
        background-color: tomato;
    }
</style>
